html {
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: auto;
  height: 100%;
}
.title {
  text-align: center;
}

i {
  color: white;
}

.board {
  /* width: 50%; */
  height: 100%;
  max-width: 670px;
  max-height: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.deck {
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 800px;
  padding: 20px;
  border-radius: 10px;
  background: #0AC7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 1em;
}

.deck .card {
  height: 125px;
  width: 125px;
  /* height: 125px;
  width: 125px; */
  background: #2e3d49;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); 
  cursor: pointer;
}

.deck .card .fa {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.deck .card.open .fa {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(1800deg);
  transform: rotateY(180deg);
}

.deck .card.open {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #02b3e4;
  cursor: default;
}

.deck .card.match {
  cursor: default;
  background: #00ff99;
  font-size: 33px;
}

.deck .card:hover {
  transform: scale3d(1, 1, 2) rotateY(180deg);
  background: rgba(46, 61, 73, 0.815);
}

.card.show {
  font-size: 33px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeze {
  pointer-events: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(4, 78, 100, 0.4);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 100px;
  border: 1px solid #888;
  border-radius: 25px;
  box-shadow: 5px 10px 18px #000;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}